gradio==4.11.0
diffusers==0.21.0
accelerate
bitsandbytes
datasets
huggingface_hub
numpy
opencv_python
torchvision
tqdm
transformers
watermark
xformers
deepspeed
kornia
timm
pytorch-lightning
scipy
git+https://github.com/aihao2000/stable-diffusion-reference-only.git
git+https://github.com/aihao2000/anime-segmentation.git
