torch==2.5.1
torchvision==0.20.1
gradio==4.11.0
diffusers==0.21.0
huggingface_hub==0.23.0
transformers==4.33.1
xformers==0.0.29.post1
timm==1.0.11
accelerate==0.32.1
bitsandbytes==0.46.0
datasets==2.18.0
numpy==1.26.4
opencv_python
tqdm
watermark
deepspeed
kornia
pytorch-lightning
scipy